* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dda4bc;
    /* background-color: #a4ddae; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

canvas {
    background-color: #000000; 
}